* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    transition: 0.5s ease;
}

/* .content {
    flex: 1;
    margin-top: 200px;
    margin-bottom: 3rem;
} */


.pills-img {
    background-color: #fff;
    border: solid 1px rgba(128, 128, 128, 0.653);
    border-radius: 50px;
    transition: 0.5s ease;

    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
}

.pills-img:hover, .pills-txt:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition: 0.5s ease;
}

.pills-txt {
    background-color: #fff;
    border: solid 1px rgba(128, 128, 128, 0.653);
    border-radius: 50px;
    color: #5d5c5c;
    /* text-align: justify; */
    padding: 5%;
    font-size: 1.7vh;
    transition: 0.5s ease;
}

.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}

footer {
    padding: 10px;
}

/* Seccion dinamica */

.btn-group .btn {
    font-weight: bold;
}
  
.active {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}
  
img {
    width: 60%;
    border-radius: 20px;
}

/* BOTONES */

/* #region Leve */
.btn-custom-leve {
    color: forestgreen; /* Color del texto */
    background-color: #fff; /* Color de fondo */
    border: 1px solid forestgreen; /* Borde */
    transition: background-color .5s, color .5s, box-shadow .5s;
    font-size: 2vh;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 5px 20px 5px 20px;
}

.btn-custom-leve:hover {
    color: #ffffff;
    background-color: forestgreen;
    border-color: forestgreen;
}

.btn-custom-leve:active,
.btn-custom-leve.active {
    color: #ffffff;
    background-color: forestgreen;
    border-color: forestgreen;
    box-shadow: none; /* Elimina sombras */
    outline: none; /* Evita resaltado predeterminado */
}
/* #endregion */

/* #region Moderado */
.btn-custom-moderado {
    color: orange; /* Color del texto */
    background-color: #fff; /* Color de fondo */
    border: 1px solid orange; /* Borde */
    transition: background-color .5s, color .5s, box-shadow .5s;
    font-size: 2vh;
}

.btn-custom-moderado:hover {
    color: #ffffff;
    background-color: orange;
    border-color: orange;
}

.btn-custom-moderado:active,
.btn-custom-moderado.active {
    color: #ffffff;
    background-color: orange;
    border-color: orange;
    box-shadow: none; /* Elimina sombras */
    outline: none; /* Evita resaltado predeterminado */
}
/* #endregion */

/* #region Severo */
.btn-custom-severo {
    color: red; /* Color del texto */
    background-color: #fff; /* Color de fondo */
    border: 1px solid red;
    transition: background-color .5s, color .5s, box-shadow .5s;
    font-size: 2vh;
}

.btn-custom-severo:hover {
    color: #ffffff;
    background-color: red;
    border-color: red;
}

.btn-custom-severo:active,
.btn-custom-severo.active {
    color: #ffffff;
    background-color: red;
    border-color: red;
    box-shadow: none; /* Elimina sombras */
    outline: none; /* Evita resaltado predeterminado */
}
/* #endregion */

/* #region muySevero */
.btn-custom-muysevero {
    color: #56070c; /* Color del texto */
    background-color: #fff; /* Color de fondo */
    border: 1px solid #56070c; /* Borde */
    transition: background-color .5s, color .5s, box-shadow .5s;
    font-size: 2vh;
}

.btn-custom-muysevero:hover {
    color: #ffffff;
    background-color: #56070c;
    border-color: #56070c;
}

.btn-custom-muysevero:active,
.btn-custom-muysevero.active {
    color: #ffffff;
    background-color: #56070c;
    border-color: #56070c;
    box-shadow: none; /* Elimina sombras */
    outline: none; /* Evita resaltado predeterminado */
}

/* #endregion */

/* #region estigmas*/

.info {
    font-size: 1.9vh;
    text-align: justify;
}

.title-estigmas {
    font-size: 5.2vh;
    font-style: italic;
    font-weight: 500;
    font-style: oblique;
    text-align: center;
    margin-bottom: 80px;
}

.estigma {
    font-size: 4.3vh;
    margin: 0 30px 0 20px;
    border-radius: 20px;
    transition: 0.7s ease;
}

.estigma:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.5s ease;
    cursor: grab;
}

.div-estigmas {
    display: flex; /* Activar Flexbox */
    flex-direction: column; /* Asegura que las filas estén en una sola columna */
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
    height: 100%; /* Si deseas que ocupe todo el espacio disponible */
}

/* Estilo general de las filas */
.div-estigmas .row {
    position: relative; /* Para evitar que el desplazamiento afecte otros elementos */
}

.div-estigmas .row:nth-child(1), .div-estigmas .row:nth-child(3){
    transform: translateX(20px); 
}

.div-estigmas .row:nth-child(2), .div-estigmas .row:nth-child(4) {
    transform: translateX(-20px);
}


/* Ajuste del tamaño de los bloques al texto */
.div-estigmas .col-sm-6 {
    display: inline-block; /* Hace que la columna ajuste al contenido */
    width: auto; /* Elimina el tamaño predefinido de las columnas de Bootstrap */
    text-align: center; /* Centra el contenido */
}



.tachado {
    /* text-decoration: line-through; */
    color: #000;
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.subrayado-panda {
    background: #000;
    color: white;
}

.subrayado-gris {
    background: darkgrey;
    color: white;
}

.italic {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

/* #endregion */